// custom colors
// keep standard vue colors for now
/*
# $accentColor = #ff5c5c;
$textColor = #292A2E
$borderColor = #eaecef
$codeBgColor = #292A2E
*/

@media (min-width: ($MQNarrow))
  .imagenextotext
    img
      float: right
      padding: 15px
